%h1 Listing works

%table
  %tr
    %th Title
    %th Description
    %th Deadline
    %th Work
    %th
    %th
    %th

  - @works.each do |work|
    %tr
      %td= work.title
      %td= work.description
      %td= work.deadline
      %td= work.work
      %td= link_to 'Show', work
      %td= link_to 'Edit', edit_work_path(work)
      %td= link_to 'Destroy', work, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%table.table.table-stripped
  %tr
    %th Work
    %th Created by
    %th Assigned to
    %th Deadline
    %th Status
    %td Action
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-inverse Completed
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-success Progressing
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-important Failed
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-warning Stopped
