%p#notice= notice

%p
  %b Title:
  = @work.title
%p
  %b Description:
  = @work.description
%p
  %b Deadline:
  = @work.deadline
%p
  %b Work:
  = @work.work

= link_to 'Edit', edit_work_path(@work)
\|
= link_to 'Back', works_path
